@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto+Mono', sans-serif;
    background-color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
/* Header + Nav Bar */
header{
    display: flex;
    justify-content:space-between;
}

nav {
    font-family: 'Roboto+Mono', sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;   
}
.nav-links ul li a {
    color: #111;
    text-decoration: none;
    font-size: 16px;
}

.maintext{
    font-weight: 600;
}

.title{
    display: flex;
    justify-content:space-between;
}

mark {
    background: rgba(255, 162, 152, 0.821);
    color: black;
}

a {
    position: relative;
    color:rgb(0, 0, 0);
}

a::before {
    background: rgba(255, 162, 152, 0.821);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
    transform-origin: left;
    z-index: -1;
}

a:hover::before {
    transform: scaleX(1)
}